* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-cairo);
}

:root {
  --primary1: #36a336;
  --primary2: #2d7a2d;
  --primary3: #4db84d;
  --primary5: #201f1d;
  --black1: #080d0e;
  --black2: #201f1d;
  --light: #f7f4fa;
  --gray-1: #a0a091;
  --gray-2: #5e615c;
}


body {
  direction: rtl;
  font-family: var(--font-cairo) !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.section {
  padding: 5rem 0;
}

.section-hero {
  background: url("/images/bg.jpg");
  background-size: cover;
  background-position: 10% 70%;
  color: var(--light);
  text-align: center;
  position: relative;
  padding: 3rem 0;
}

.section-hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
}

/* move this to another css file  */
.grid-container {
  display: grid;
  gap: 10px;
}

.large-grid {
  grid-template-columns: repeat(5, 1fr);
}

.small-grid {
  grid-template-columns: repeat(5, 1fr);
}

.grid-item {
  padding: 15px;
  border: 1px dashed #ccc;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
}

.grid-item:first-child {
  background-color: #e0e0e0;
}