a {
    text-decoration: none
}

li,
ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

a {
    color: inherit;
}

header.top-head {
    position: sticky !important;
    left: 0;
    top: 0;
    z-index: 99999 !important;
    min-height: 92px;
    border-bottom: 9px solid #f4f4f4;
    display: flex;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.fixedHead {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    background: 0 0 !important
}

header.top-head .logo {
    margin-top: 20px
}

header.top-head .logo a {
    display: table;
    width: 207px;
    height: 47px;
    margin: auto
}

header.top-head .logo.center a {
    margin: auto
}

.top-menu {
    /* float: right !important; */
    /* display: flex; */
    width: auto !important
}

.top-nav>ul {
    display: flex;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    position: relative;
    z-index: 99999;
}

.top-nav>ul>li {
    position: relative;
    margin: 0;
    border-left: 1px solid #eee;
    height: 83px;
    overflow: hidden\9
}

.top-nav>ul>li.current>a i,
.top-nav>ul>li.selected>a i,
.top-nav>ul>li>a:hover i {
    margin-top: 5px
}

.top-nav>ul>li>a {
    display: block;
    padding: 0 17px;
    padding-top: 22px;
    height: 83px;
    text-transform: uppercase;
    overflow: hidden;
    text-align: center
}

.top-nav>ul li a span {
    display: block;
    margin-top: 5px
}

.top-nav>ul li a i {
    color: #b8b8b8;
    font-size: 16px
}

.top-nav>ul li.current a i,
.top-nav>ul li.selected a i,
.top-nav>ul li a:hover i {
    color: #fff
}

.top-nav>ul>li:after {
    position: absolute;
    bottom: -9px;
    left: -3px;
    display: inline-block;
    width: 100%;
    height: 9px;
    border-left: 1px solid #e4e4e4;
    background: 0 0;
    content: "";
    -webkit-transform: skew(-35deg, 0);
    transform: skew(-35deg, 0)
}

.top-nav>ul li ul {
    position: absolute;
    top: 92px;
    z-index: -1;
    min-width: 180px;
    height: 0;
    max-height: 0;
    right: 5px;
}

.top-nav>ul>li>ul>li {
    position: relative;
    float: none;
    margin: 0;
    padding: 0;
    line-height: 35px;
    opacity: 0;
    transition: opacity .5s, transform .4s;
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    -moz-transition: opacity .5s, -moz-transform .4s;
    -ms-transition: opacity .5s, -ms-transform .4s;
    -o-transition: opacity .5s, -o-transform .4s;
    -webkit-transition: opacity .5s, -webkit-transform .4s;
    transform: rotateY(90deg)
}

.top-nav>ul>li:hover>ul {
    z-index: 0;
    height: auto
}

.top-nav>ul>li:hover>ul>li {
    opacity: 1;
    -webkit-transform: none;
    transform: none
}

.top-nav li li a {
    display: block;
    overflow: hidden;
    padding: 0 15px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    line-height: 40px
}

.top-nav li li.current>a,
.top-nav li li.selected>a,
.top-nav li li a:hover {
    text-decoration: none
}

.top-nav li li li {
    opacity: 0;
    transition: opacity .4s, transform .5s;
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -moz-transition: opacity .4s, -moz-transform .5s;
    -ms-transition: opacity .4s, -ms-transform .5s;
    -o-transition: opacity .4s, -o-transform .5s;
    -webkit-transition: opacity .4s, -webkit-transform .5s;
    transform: rotateX(90deg)
}

.top-nav li li>ul {
    height: 0;
    left: 100%;
    top: 0
}

.top-nav li li:hover>ul {
    height: auto
}

.top-nav li li:hover>ul>li {
    opacity: 1;
    -webkit-transform: none;
    transform: none
}

.mega-menu {
    position: relative
}

.mega-menu .div-mega {
    position: absolute;
    top: 92px;
    left: 0;
    z-index: 99;
    display: none;
    padding-top: 2%;
    box-shadow: inset 0 10px 11px -5px rgba(0, 0, 0, .3)
}

.mega-menu>li>a {
    display: block;
    position: relative
}

.div-mega-section {
    float: left;
    margin: 0 2% 2%
}

.mega-menu div.div-mega ul {
    visibility: visible;
    position: static;
    max-height: 100%;
    height: 100%;
    width: 100%
}

.mega-menu div.div-mega ul li {
    opacity: 1;
    transform: rotateY(0)
}


.mega-menu div.div-mega ul li a {
    padding: 8px 5px;
    line-height: normal;
    overflow: inherit;
    text-overflow: clip;
    white-space: normal
}

.div-mega h4 {
    background: #fff;
    color: #777;
    padding: 8px 10px;
    font-weight: 700
}

.top-nav>ul.def-effect li ul {
    height: 0;
    max-height: 0;
    display: block;
    opacity: 0;
    visibility: hidden
}



.top-nav>ul.def-effect li:hover>ul {
    height: auto;
    max-height: none;
    opacity: 1;
    visibility: visible
}

.top-nav ul.def-effect li li li {
    opacity: 0;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg)
}

.top-nav ul.def-effect li li>ul {
    height: 0
}

.top-nav ul.def-effect li li:hover>ul {
    height: auto
}

.top-nav ul.def-effect li li:hover>ul>li {
    opacity: 1;
    -webkit-transform: none;
    transform: none
}

.top-nav.mega-menu ul div.div-mega ul {
    height: 100%;
    max-height: none;
    display: block;
    opacity: 1;
    visibility: visible
}

.top-nav>ul li a span {
    position: relative
}

.top-nav>ul li a span .menu-hint {
    position: absolute;
    top: -12px;
    right: -12px;
    left: auto
}

.nav-2 .top-nav>ul>li>a span .menu-hint {
    top: 26px
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}


.logo {
    color: var(--primary1);
}



.parent-menu>li {
    color: var(--primary1);
    font-weight: 600;
}

.parent-menu>li:hover {
    background-color: var(--primary1);
    color: white;
}

.parent-menu>li:hover::after {
    background-color: var(--primary2);
    color: white;
}

.hasChildren>ul li {
    background-color: var(--primary1);
    color: white;
}

.hasChildren>ul li:hover {
    background-color: var(--primary2);
}

.resNav {
    display: none;
}

@media (max-width: 1100px) {
    .nav {
        display: none !important;
    }

    .resNav {
        display: block !important;
    }
}
.active {
    background-color: var(--primary1) !important;
    color: white !important;
}
.active::after {
    background-color: var(--primary2) !important;
    color: white !important;
}